
{% extends 'base.html.twig' %}

{% block title %}    {{parent()}} - Post Form {% endblock %}

{% block body %}
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-outline-success">{{ button_label|default('Guardar') }}</button>
    <a href="{{ path('posts_index') }}" id="colorRed">Cancelar</a>
{{ form_end(form) }}
{% endblock %}