{% extends 'base.html.twig' %}
{% block title %}    {{parent()}} - Administrador {% endblock %}
{% block body %}
{{parent()}}
<div class="wrapper bg-white">
    <div class="wrap bg-white">
        <h2>Cuenta Administrador</h2>
        <div class="row">
            <div class="col-3">
                <h4>Categorias</h4>
                    <p><a href="{{path('category_index')}}">Todas las Categorias</a></p>
                    <p><a href="{{path('category_new')}}">A침adir Categoria</a></p>
            </div>
            <div class="col-3">
                <h4>Posts</h4>
                    <p><a href="{{path('posts_new')}}">Crear nuevo Post</a></p>

            </div>
        </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

    </div>
</div>
<footer>
    <div class="footercontent row">
        <div class="col-3" >
                <img src="{{ asset('img/hjlogo2.png') }}" class="logo">
        </div>
        <div class="col-6 text-center">
            <p>El contenido de esta p치gina web est치 protegido por copyright y es propiedad de HJ</p>
             <p>Comercio mayorista</p>
            <br>
            <hr>
            <br>
            <p>Web dise침ada y creada por : Hongen Shyu Barcel</p>
           </div>
           <div class="col-3">
               <div id="contactfooter">
                   <p>Tlf de contacto: 644751012</p>
                <p>Email: Hongen1993@gmail.com</p>
               </div>
           </div>            
       </div>
</footer>
{% endblock %}