{% extends 'base.html.twig' %}

{% block title %}Posts Index{% endblock %}

{% block body %}
    <h1>Posts index</h1>

    <a href="{{ path('posts_new') }}">Create new</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
         {% for post in posts %}
            <tr>
            {{dump(post)}}
{#                  <td>{{ post.id }}</td>
                <td>{{ post.category.name }}</td>
                <td>{{ post.name }}</td>
                <td>{{ post.foto }}</td>
                <td>{{ post.preciooferta }}</td>
                <td>{{ post.sku }}</td>

                <td>
                    <a href="{{ path('posts_show', {'id': post.id}) }}">show</a>
                    <a href="{{ path('posts_edit', {'id': post.id}) }}">edit</a>
                </td>  #}
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %} 
        </tbody>
    </table>


{% endblock %}
