{% extends 'base.html.twig' %}

{% block title %}    {{parent()}}- Posts Index{% endblock %}

{% block body %}
{{parent()}}
<link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">



</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 cursor">
            {% for post in pagination %}
            <div class="bg-white rounded p-3 my-3" id="greybackground" onclick="window.location.href='{{path('posts_index',{id:post.id})}}'">
                <div class="d-flex bd-highlight rounded h-50" >
                    <div class="p-2 flex-grow-1 bd-highlight ">
                        <h3>{{post.name}}</h3>
                        <div class="align-self-center">
                            <img class="rounded hoverable" src="{{ asset('uploads/photos/'~post.foto)}}" width="450px">
                        </div>
                        <div class="bg-green"><i class="far fa-clock"></i><strong>Fecha de publicación: {{ post.fecha_publicacion | date}}</strong></div>
                    </div>
                </div>
            </div>
            <hr>
            {% endfor %}
        </div>
    </div>
</div>
<div class="d-flex justif-content-center">
    <div class="navigation">
        {{knp_pagination_render(pagination)}}
    </div>
</div>


{#  
----------------------------------------------------------------------
   <h1>Posts index</h1>

    <a href="{{ path('posts_new') }}">Create new</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
         {% for post in posts %}
            <tr>
            {{dump(post)}} #}
{#                  <td>{{ post.id }}</td>
                <td>{{ post.category.name }}</td>
                <td>{{ post.name }}</td>
                <td>{{ post.foto }}</td>
                <td>{{ post.preciooferta }}</td>
                <td>{{ post.sku }}</td>

                <td>
                    <a href="{{ path('posts_show', {'id': post.id}) }}">show</a>
                    <a href="{{ path('posts_edit', {'id': post.id}) }}">edit</a>
                </td>  #}
{#             </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}  #}
{% endblock %}
