{% extends 'base.html.twig' %}

{% block title %}    {{parent()}}- Posts Index{% endblock %}

{% block body %}
{{parent()}}
<link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">



</div>
<div class="container">
    <div class="row postsRow">
        {% for post in pagination %}
            <div class="col-md-3 cursor">
                <div class="bg-white rounded" onclick="window.location.href='{{path('posts_show',{id:post.id})}}'">
                    <h3>{{post.name}}</h3>
                        <div class="align-self-center">
                            <img class="rounded hoverable" src="{{ asset('uploads/fotos/'~post.foto)}}" width="100%" height="175px">
                            <i class="far fa-clock" style="color:#000"></i> Fecha de publicación: {{ post.fecha_publicacion | date}}
                        </div>
                    <hr>
                </div>      
            </div>
        {% endfor %}
    </div>
</div>
<div class="d-flex justif-content-center">
    <div class="navigation">
        {{knp_pagination_render(pagination)}}
    </div>
</div>


{#  
----------------------------------------------------------------------
   <h1>Posts index</h1>

    <a href="{{ path('posts_new') }}">Create new</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
         {% for post in posts %}
            <tr>
            {{dump(post)}} #}
{#                  <td>{{ post.id }}</td>
                <td>{{ post.category.name }}</td>
                <td>{{ post.name }}</td>
                <td>{{ post.foto }}</td>
                <td>{{ post.preciooferta }}</td>
                <td>{{ post.sku }}</td>

                <td>
                    <a href="{{ path('posts_show', {'id': post.id}) }}">show</a>
                    <a href="{{ path('posts_edit', {'id': post.id}) }}">edit</a>
                </td>  #}
{#             </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}  #}
{% endblock %}
