{% extends 'base.html.twig' %}

{% block title %} {{parent()}} - Post{% endblock %}

{% block body %}
{{parent()}}
<div class="container">
    <br>

    <hr>
    <div class="row no-gutters">
        <div class="col-lg-4 col-md-6">
                <div class="align-self-center">
                    <img class="imgpost" src="{{asset('uploads/fotos/')~post.foto}}">
                </div>
        </div>
        <div class="col-lg-4 col-md-6">
                <div class="align-self-center">
                    <img class="imgpost" src="{{asset('uploads/fotos/')~post.foto}}">
                </div>
        </div>
        <div class="col-lg-4 col-md-6">
             <h3>{{post.name}}</h3>
                <button type="button" class="btn btn-default" style="color:#FF0120;" onClick="MeGusta({{post.id}})" aria-label="Left Align">
                    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                </button>
                <hr>
            <div class="text-justify my-3">
                <p>{{post.contenido}}</p>
                <p>Antes <s>{{post.precio}}</s> €</p>
                <p>Ahora {{post.preciooferta}} €</p>
            </div>
            <button type="button" class="btn btn-outline-danger">Añadir al carrito</button>
                <hr>
            <div style="color:#000;">
                <i class="far fa-clock"></i>Fecha de publicación:{{post.fechapublicacion | date}}
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
{{parent()}}
<script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
{# <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script> #}
<script src="{{ asset('js/ajax-call.js')}}"></script>
{% endblock %}