{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    {{parent()}}
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3" style="text-align:right">
                    <p>Hola {{ app.user.nombre }} ! </p> 
                    <a href="{{ path('app_logout') }}" style="font-size:10px">Salir</a>
                </div>
            {% endif %}
            <div class="container h-100">
                <div class="row h-100 justify-content-center align-items-center">
                    <div class="col-6 bg-white rounded my-3 p-5">
                        <h4 class="h3 mb-3 font-weight-normal">Inicia sesión</h4>
                        <label for="inputEmail">Email</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                            <label for="inputPassword">Password</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" required>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <br>
                            <button class="btn btn-lg btn-primary" type="submit">
                                Sign in
                            </button>
                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Recordarme en este dispositivo
                            </label>
                        </div>
                        <p>¿Aún no tienes cuenta? <a href="{{path('registrarse')}}">Regístrate aqui</a></p>
                    </div>
                </div>
            </div>
        </form>
{% endblock %}
