{% extends 'base.html.twig' %}

{% block title %}    {{parent()}}- Categorías{% endblock %}

{% block body %}
{{parent()}}
<body>
<div class="wrapper bg-white">
    <div class="wrap bg-white">
        <div class="container">
            <h3 class="search">Todas las categorías</h3>
            <div class="row postsRow">
                {% for category in pagination  %}
                    <div class="cursor" style="margin-bottom:2em"   id="colArticles">
                        <div class="bg-white rounded" onclick="window.location.href='/categoria/{{category.id}}/index'" >
                            <h4 class="search">{{category.name}}</h4>
                                <div class="align-self-center">
                                    <img class="rounded hoverable" src="{{ asset('uploads/fotos/'~category.foto)}}" width="90%" height="175px">
                                </div>
                            <br>
                            <hr>
                        </div>      
                    </div>
                    {% else %}
                    <tr>
                        <td colspan="3">No hay categorías</td>
                    </tr>
                {% endfor %}
                <br>
            </div>
        </div>
        <div style="height:5em">
            <div class="navigation">
                   {{knp_pagination_render(pagination)}}
            </div>
        </div>
    </div>
</div>
</body>
<footer>
    <div class="footercontent row">
        <div class="col-3" >
                <img src="{{ asset('img/hjlogo2.png') }}" class="logo">
        </div>
        <div class="col-6 text-center">
            <p>El contenido de esta página web está protegido por copyright y es propiedad de HJ</p>
             <p>Comercio mayorista</p>
            <br>
            <hr>
            <br>
            <p>Web diseñada y creada por : Hongen Shyu Barcel</p>
           </div>
           <div class="col-3">
               <div id="contactfooter">
                   <p>Tlf de contacto: 644751012</p>
                <p>Email: Hongen1993@gmail.com</p>
               </div>
           </div>            
       </div>
</footer>

{% endblock %}
