{% extends 'base.html.twig' %}

{% block title %}    {{parent()}} - Categorías{% endblock %}

{% block body %}
    {{parent()}}
    <h4>Categorías</h4>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>
                    <a href="{{ path('category_show', {'id': category.id}) }}">Mostrar </a>
                    /
                    <a href="{{ path('category_edit', {'id': category.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No hay categorías</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('category_new') }}">Crear nueva categoría</a>
{% endblock %}
