<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Lenceria Ideal{% endblock %}</title>
        {% block stylesheets %}

        <link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{asset('css/stylesheet.css')}}">
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300" rel="stylesheet">
        {% endblock %}
    </head>
        {% block body %}
        <div class="nav">
            <a href="{{path('dashboard')}}">
                <img src="{{ asset('img/hjlogo.png') }}"  width="9%" height="125px" class="navbar-brand" id="colorblack" >
                </a>
        </div>   
    <nav class="navbar navbar-fixed-top ">
        <div class="container">
            <div class="nav-item dropdown box"> 
                <a class="nav-link dropdown-toggle py-0" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Hombre
                        </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{path('category_show',{id:1})}}">Pijamas</a></li>
                        <li><a class="dropdown-item" href="{{path('category_show',{id:4})}}">Bañadores</a></li>
                        <li><a class="dropdown-item" href="{{path('category_show',{id:6})}}">Camisetas interiores</a></li>
                        <li><a class="dropdown-item" href="{{path('category_show',{id:8})}}">Batas </a></li>
                        <li><a class="dropdown-item" href="{{path('category_show',{id:10})}}">Boxer</a></li>
                        <li><a class="dropdown-item" href="{{path('category_show',{id:11})}}">Calzoncillos</a></li>
                        <li><a class="dropdown-item" href="{{path('category_show',{id:17})}}">Calcetines</a></li> 
                        <hr>
                        <li><a class="dropdown-item" href="{{path('category_show',{id:19})}}">Niños</a></li> 
                        <hr>
                        <li><a class="dropdown-item" href="{{path('category_show',{id:21})}}">Otros</a></li> 
                    </ul>
            </div>
            <div class="nav-item dropdown box" id="rightnavbar"> 
                 <a class="nav-link dropdown-toggle py-0" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mujer
                </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{path('category_show',{id:2})}}">Pijamas</a></li>
                        <li><a class="dropdown-item" href="{{path('category_show',{id:5})}}">Bikinis</a></li>
                        <li><a class="dropdown-item" href="{{path('category_show',{id:7})}}">Camisetas interiores</a></li>
                        <li><a class="dropdown-item" href="{{path('category_show',{id:12})}}">Sujetadores</a></li>
                        <li><a class="dropdown-item" href="{{path('category_show',{id:13})}}">Tops</a></li>
                        <li><a class="dropdown-item" href="{{path('category_show',{id:14})}}">Bragas</a></li>
                        <li><a class="dropdown-item" href="{{path('category_show',{id:15})}}">Culotes</a></li>
                        <li><a class="dropdown-item" href="{{path('category_show',{id:16})}}">Tangas</a></li>
                        <li><a class="dropdown-item" href="{{path('category_show',{id:18})}}">Calcetines</a></li>
                        <li><a class="dropdown-item" href="{{path('category_show',{id:14})}}">Picardia</a></li> 
                        <hr>
                        <li><a class="dropdown-item" href="{{path('category_show',{id:20})}}">Niñas</a></li>
                        <hr>
                        <li><a class="dropdown-item" href="{{path('category_show',{id:21})}}">Otros</a></li>
                    </ul>
            </div>

{#                     <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{path('app_login')}}"></a>
                        <a class="dropdown-item" href="{{path('cart_index')}}"><i class="fas fa-shopping-cart" id="colorblack"></i></a>
                </div> #}
                       {#  <div class="nav-item dropdown" id="rightnavbar"> 
                            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            -
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <form class="form-inline my-2 my-lg-0">
                                <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend"></div>
                                    <input class="form-control" type="search" placeholder="Type here..." aria-label="Search">
                                    <button class="btn btn-outline-danger btn-sm" type="submit">Search</button>
                                </div>
                                </form>
                        </div> #}
                <div class="nav-item dropleft" id="topnavbar"> 
                   <button type="button" class="btn dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-shopping-cart"></i>
                   </button>
                        <div class="dropdown-menu">
                           {{ render(controller('App\\Controller\\CartController:minicart')) }}
                        </div>
                </div>
                <div class="nav-item dropdown" id="topnavbar2">
                    <button type="button" class="btn dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="far fa-user" id="colorblack"></i>
                    </button>
                    <div class="dropdown-menu">   
                        {{ render(controller('App\\Controller\\SecurityController:minilogin')) }}
                    </div>
                </div>
                <div class="nav-item" id="topnavbar3">
                    <a href="{{path('posts_index')}}"><i class="fas fa-search"></i></a>               
                </div>
            </div>
        </div>
    </nav>
    {% endblock %}         
        {% block javascripts %}
            <script src="{{asset('js/jquery.min.js')}}"></script>
            <script src="{{asset('js/bootstrap.min.js')}}"></script>
            <script src="https://kit.fontawesome.com/c469a8b399.js" crossorigin="anonymous"></script>
        {% endblock %}
</html>
