<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Lenceria Ideal{% endblock %}</title>
        {% block stylesheets %}

        <link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{asset('css/stylesheet.css')}}">
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap" rel="stylesheet">
            <script src="https://js.stripe.com/v3/"></script>

        {% endblock %}
    </head>
        {% block body %}
        <div class="nav">
            <a href="{{path('dashboard')}}">
                <img src="{{ asset('img/hjlogo.png') }}" class="navbar-brand">
            </a>
        </div>   
    <nav class="navbar navbar-fixed-top ">
        <div class="container">
            <div class="nav-item dropdown box"> 
                <a class="nav-link dropdown-toggle py-0" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Hombre
                        </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{path('category_id_index',{category:1})}}">Pijamas</a></li>
                        <li><a class="dropdown-item" href="{{path('category_id_index',{category:4})}}">Bañadores</a></li>
                        <li><a class="dropdown-item" href="{{path('category_id_index',{category:6})}}">Camisetas interiores</a></li>
                        <li><a class="dropdown-item" href="{{path('category_id_index',{category:8})}}">Batas </a></li>
                        <li><a class="dropdown-item" href="{{path('category_id_index',{category:10})}}">Boxer</a></li>
                        <li><a class="dropdown-item" href="{{path('category_id_index',{category:11})}}">Calzoncillos</a></li>
                        <li><a class="dropdown-item" href="{{path('category_id_index',{category:17})}}">Calcetines</a></li> 
                    </ul>
            </div>
            <div class="nav-item dropdown box" id="rightnavbar"> 
                 <a class="nav-link dropdown-toggle py-0" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mujer
                </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{path('category_id_index',{category:2})}}">Pijamas</a></li>
                        <li><a class="dropdown-item" href="{{path('category_id_index',{category:5})}}">Bikinis</a></li>
                        <li><a class="dropdown-item" href="{{path('category_id_index',{category:7})}}">Camisetas interiores</a></li>
                        <li><a class="dropdown-item" href="{{path('category_id_index',{category:9})}}">Batas </a></li>
                        <li><a class="dropdown-item" href="{{path('category_id_index',{category:12})}}">Sujetadores</a></li>
                        <li><a class="dropdown-item" href="{{path('category_id_index',{category:13})}}">Tops</a></li>
                        <li><a class="dropdown-item" href="{{path('category_id_index',{category:14})}}">Bragas</a></li>
                        <li><a class="dropdown-item" href="{{path('category_id_index',{category:16})}}">Tangas</a></li>
                        <li><a class="dropdown-item" href="{{path('category_id_index',{category:18})}}">Calcetines</a></li>
                        <li><a class="dropdown-item" href="{{path('category_id_index',{category:21})}}">Picardia</a></li> 
                    </ul>
            </div>
            <div class="nav-item dropleft" id="topnavbar"> 
                <button type="button" class="btn dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-shopping-cart"></i>
                </button>
                <div class="dropdown-menu">
                    {{ render(controller('App\\Controller\\CartController:minicart')) }}
                </div>
            </div>
            <div class="nav-item dropdown" id="topnavbar2">
                  <button type="button" class="btn dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="far fa-user" id="colorblack"></i>
                 </button>
                 <div class="dropdown-menu" name="login" id="loginn">   
                        {{ render(controller('App\\Controller\\SecurityController:minilogin')) }}
                 </div>
            </div>
            <div class="nav-item dropdown" id="topnavbar3">
                <button type="button" class="btn dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-search"></i>       
                </button>
                <div class="dropdown-menu" style="text-align:center">
                    <a href="{{path('posts_index')}}">Todos los articulos</a>
                    <hr>
                    <a href="{{ path('category_index')}}">Buscar por categorías</a>
                    <hr>
                    <a href="{{ path('posts_index')}}">Buscar por nombre o rango de precios</a>
                                        <div id="hiddeError">{{ render(controller('App\\Controller\\PostsController:searchbar')) }}</div>

                </div>
            </div>
                 
            
        </div>
    </nav>
    {% endblock %}         
        {% block javascripts %}
            <script src="{{asset('js/jquery.min.js')}}"></script>
            <script src="{{asset('js/bootstrap.min.js')}}"></script>
            <script src="https://kit.fontawesome.com/c469a8b399.js" crossorigin="anonymous"></script>
        {% endblock %}
</html>
