{% extends 'base.html.twig' %}

{% block title %}{{parent()}}{% endblock %}

{% block body %}
{{parent()}}
<link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">

<div class="container">
    <div class="row postsRow">
        {% for post in pagination %}
            <div class="col-md-3 cursor">
                <div class="bg-white rounded" onclick="window.location.href='{{path('posts_show',{id:post.id})}}'">
                    <h5>{{post.name}}</h5>
                        <div class="align-self-center">
                            <img class="rounded hoverable" src="{{ asset('uploads/fotos/'~post.foto)}}" width="100%" height="175px">
                                <div class="text-center">
                                <p class="my-2 postTextSize"> Antes : <s>{{post.precio}}</s> <span id="colorRed">Ahora : {{post.precio_oferta}} €</span>
                                    <button type="button" class="btn btn-light btn-sm">
                                        <i class="fas fa-cart-arrow-down"></i>
                                    </button>
                                    </p>
                                </div>
                                <div class="publicationDate text-center">

                                    <p><i class="far fa-clock" style="color:#000"></i>
                                     Fecha de publicación: {{ post.fecha_publicacion | date}}</p>
                                </div>
                        </div>
                    <hr>
                </div>      
            </div>
        {% endfor %}
    </div>
</div>
<div class="d-flex justif-content-center">
    <div class="navigation">
        {{knp_pagination_render(pagination)}}
    </div>
</div>

{% endblock %}
