{% extends 'base.html.twig' %}
{% block title %}{{parent()}}{% endblock %}
{% block body %}
{{ parent() }}
    <div class="wrapper bg-white">
        <div class="wrap bg-white">
            <div class="container bg-white">
                <div class="cd-slider">
                    <ul>
                    <li>
                        <div class="image" style="background-image:url( {{ asset('img/login.jpg') }} );"></div>
                        <div class="content">
                        <h2>Colección Lenceria 2020</h2>
                        <a href="{{path('category_id_index',{category:12})}}">Ver todo</a>
                        </div>
                    </li>
                    <li>
                        <div class="image" style="background-image:url( {{ asset('img/pijamas.png') }} );"></div>
                        <div class="content">
                        <h2>Pijamas Invierno 2020</h2>
                        <a href="{{path('category_id_index',{category:2})}}">Ver todo</a>
                        </div>
                    </li>
                    <li>
                        <div class="image" style="background-image:url( {{ asset('img/bikinis.jpg') }} );"></div>
                        <div class="content">
                        <h2>Nueva Coleccion Bikinis</h2>
                        <a href="{{path('category_id_index',{category:5})}}">Ver todo</a>
                        </div>
                    </li>
                    </ul>
                </div> <!--/.cd-slider-->
                <div class="row postsRow">
                        <div class="col-md-4 pb-2">
                            <div class="bg-white rounded  button-container">              
                                <img class="rounded hoverable" src="{{ asset('img/pijama.jpg')}}" width="100%" height="450px">
                                <a href="{{path('category_id_index',{category:2})}}" alt="Pijamas">Pijamas</a>
                            </div>
                        </div>
                        <div class="col-md-4 pb-5">
                            <div class="bg-white rounded button-container">
                                <img class="rounded hoverable" src="{{ asset('img/sujetador.jpg')}}" width="100%" height="450px">
                                <a href="{{path('category_id_index',{category:12})}}" alt="Sujetadores">Lenceria</a>

                            </div>
                        </div>
                        <div class="col-md-4 pb-5">
                            <div class="bg-white rounded  button-container">
                                <img class="rounded hoverable" src="{{ asset('img/top.jpg')}}" width="100%" height="450px">
                                <a href="{{path('category_id_index',{category:13})}}" alt="Tops">Tops</a>
                            </div>
                        </div>
                        <div class="row" id="h1Title">
                                <h1>Articulos más nuevos</h1>
                        </div>
                        {% for post in posts %}
                        <div class="col-md-3 cursor transparent end" style="margin-top:5em">
                            <div class="bg-white rounded" onclick="window.location.href='{{path('posts_show',{id:post.id})}}'">
                                <h5>{{post.name}}</h5>
                                    <div class="align-self-center ex2">
                                        <img class="rounded hoverable " src="{{ asset('uploads/fotos/'~post.foto)}}" width="90%" height="210px">
                                    </div>
                                            <div class="text-center">
                                                    <a href="{{ path('cart_add' , {'id': post.id})}}" type="button" class="btn btn-outline-danger  btn-lg publicationDate" style="width:45%">
                                                        Añadir al carrito
                                                    </a>
                                                    <a href="{{ path('buy_cart' , {'id': post.id})}}" type="button" class="btn btn-outline-success btn-lg publicationDate" style="width:45% ">
                                                        Comprar
                                                    </a>
                                                <p class="my-2 postTextSize"> Antes : <s>{{post.precioAntes}}</s> <span id="colorRed">Ahora : {{post.precio}} €</span></p>
                                                <p>

                                                </p>
                                            </div>
                                            <div class="publicationDate text-center">
                                                <p><i class="far fa-clock" style="color:#000"></i>
                                                Fecha de publicación: {{ post.fechaPublicacion | date}}</p>
                                            </div>
                                    
                                <hr>
                            </div>      
                        </div>
                        {% endfor %}
                </div>
            </div>
        </div>
    </div>


    <footer>
            <div class="footercontent row">
                <div class="col-3" >
                        <img src="{{ asset('img/hjlogo2.png') }}" class="logo">
                </div>
                <div class="col-6 text-center">
                    <p>El contenido de esta página web está protegido por copyright y es propiedad de HJ</p>
                    <p>Comercio mayorista</p>
                    <br>
                    <hr>
                    <br>
                    <p>Web diseñada y creada por : Hongen Shyu Barcel</p>
                </div>
                <div class="col-3">
                    <div id="contactfooter">
                        <p>Tlf de contacto: 644751012</p>
                        <p>Email: Hongen1993@gmail.com</p>
                    </div>
                </div>            
            </div>
    </footer>
{% endblock %}

{% block javascripts %}
{{ parent()}}
        <script src="{{asset('js/slider.js')}}"></script>
{% endblock %}
